ng-scrollbar {
    --scrollbar-thumb-color: rgba(4, 76, 156, 0.86);
    --scrollbar-track-color: transparent;
    --scrollbar-size: 8px;
    --scrollbar-border-radius: 4px;
}

.lisiting-filters {
    margin: 20px;
    background-color: white;
    height: auto;
}

.filters {
    display: flex;
    gap: 20px;
}

.search input {
    width: 15rem;
    height: 30px;
}

.date-filter-input input {
    height: 30px;
}


.customer_type {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 20rem;
    border: 2px solid black;
}

.customer_status {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 20rem;
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-bottom: 1px solid #00000053;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    text-align: left;
    font: 100;
    padding: 8px;
    color: #044C9D;
    height: 30px;
}

tr,
td {
    color: black;
}

tbody tr:hover {
    background-color: #2886f2;
    color: white;
    cursor: pointer;
}

.amount-header {
    width: auto;
}

i.fa-solid {
    opacity: 50%;
}

i.fa-arrow-down-a-z {
    opacity: 100%;
}

i.fa-arrow-down-1-9 {
    opacity: 100%;
}

.amount {
    width: 120px;
    text-align: end;
}

.add-customer button {
    margin-top: 10px;
    border: none;
    color: white;
    background-color: #0ca1f6;
    padding: 10px;
    font-size: large;
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 20px;
}

.page button {
    background-color: rgba(12, 161, 246, 1);
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    border: transparent;
}

.loader {
    z-index: 1111;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.applyFilter {
    background-color: rgba(12, 161, 246, 1);
    cursor: pointer;
    height: 30px;
    border: 0;
    border-radius: 2px;
    padding: 0px 15px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
}

.preferred span {
    background-color: #0CA1F6;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%;
    color: white;
    margin-left: 20px;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}


.invite {
    color: #25D366;
}

.first {
    width: 200px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}