<div class="bottomsheet">
  <div class="header">
    <div class="title">
      <div class="title2">Edit Patient Details</div>
    </div>
    <div class="buttons">
      <div class="submit" (click)="onSubmit()">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="close" (click)="onClose()">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>

  <div class="form">
    <form action="" [formGroup]="editPatientForm">
      <div class="name-mobile-dob">
        <div class="input-label">
          <label for="">Name</label>
          <div class="edit">
            {{ Patient.firstname }} {{ Patient.lastname }}
            <!-- <mat-icon>edit</mat-icon> -->
            <mat-icon (click)="addNewAddressBottomsheet()">edit</mat-icon>
          </div>
        </div>
        <div class="input-label">
          <label for="">Mobile</label>
          <div class="value mobile-value">
            {{ Patient.mobile }}
          </div>
        </div>
        <div class="input-label">
          <label for="">Date of Birth</label>
          <div class="date-picker">
            <input
              matInput
              [matDatepicker]="dob"
              formControlName="dob"
              (dateChange)="onDateOfBirth($event)"
              [max]="today"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dob"
            ></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </div>
        </div>
      </div>
      <div class="email-gender">
        <div class="input-label email">
          <label for="">Email</label>
          <input
            type="email"
            formControlName="email"
            (change)="onEmailValueChange($event)"
          />
          <div class="error" *ngIf="editPatientForm.controls.email.invalid">
            Email Invalid
          </div>
        </div>
        <div class="input-label">
          <label for="">Gender</label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="address">
        <div class="" *ngIf="Patient.addresses.length > 1">
          <label for="" class="show-more-less"
            >Addresses
            <span (click)="onMoreAddress()">
              +
              {{
                Address.length > 1 && !moreAddress
                  ? Address.length - 1
                  : "Show Less"
              }}</span
            >
          </label>

          <div *ngIf="moreAddress">
            <div class="address-line" *ngFor="let Patient of Address">
              <div>
                {{ Patient.address ? Patient.address + " ," : "" }}
                {{ Patient.address_line2 ? Patient.address_line2 + " ," : "" }}
                {{ Patient.city ? Patient.city + " ," : "" }}
                {{ Patient.state ? Patient.state + " ," : "" }}
                {{ Patient.zipcode ? Patient.zipcode + " ," : "" }}
              </div>
              <div class="default" *ngIf="Patient.is_default === 'yes'">
                Defualt
              </div>
              <mat-icon (click)="onAddressEditClick(Patient)">edit</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="address">
        <div class="address-line" *ngIf="!moreAddress && defaultAdress">
          <div *ngIf="defaultAdress">
            {{ defaultAdress.address ? defaultAdress.address + " ," : "" }}
            {{
              defaultAdress.address_line2
                ? defaultAdress.address_line2 + " ,"
                : ""
            }}
            {{ defaultAdress.city ? defaultAdress.city + " ," : "" }}
            {{ defaultAdress.state ? defaultAdress.state + " ," : "" }}
            {{ defaultAdress.zipcode ? defaultAdress.zipcode + " ," : "" }}
          </div>
          <div class="default" *ngIf="defaultAdress.is_default === 'yes'">
            Defualt
          </div>
          <mat-icon (click)="onAddressEditClick(defaultAdress)">edit</mat-icon>
        </div>
      </div>
      <!-- <div class="address">
        <div class="" *ngIf="Patient.addresses.length > 1">
          <label for=""
            >Address
            <span (click)="onMoreAddress()">
              +
              {{
                defaultAdress.address.length > 1 && !moreAddress
                  ? "Show More"
                  : "Show Less"
              }}</span
            >
          </label>

          <div *ngIf="moreAddress">
            <div class="address-line" *ngFor="let Patient of Address">
              <div>
                {{ Patient.address ? Patient.address + " ," : "" }}
                {{ Patient.address_line2 ? Patient.address_line2 + " ," : "" }}
                {{ Patient.city ? Patient.city + " ," : "" }}
                {{ Patient.state ? Patient.state + " ," : "" }}
                {{ Patient.zipcode ? Patient.zipcode + " ," : "" }}
              </div>
              <mat-icon (click)="onAddressEditClick(Patient)">edit</mat-icon>
              <div class="default" *ngIf="Patient.is_default === 'yes'">
                Defualt
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <h2 class="new-address" (click)="addNewAddressBottomsheet()">
        + New Address
      </h2>

      <div class="additional-info">
        <div class="input-label">
          <label for="">Aadhar</label>
          <input
            formControlName="aadhar_number"
            placeholder="XXXX XXXX XXXX"
            (change)="onAadharValueChange($event)"
          />
          <div
            class="error"
            *ngIf="editPatientForm.controls.aadhar_number.invalid"
          >
            Aadhar Invalid
          </div>
        </div>
        <div class="input-label">
          <label for="">GSTIN</label>
          <input
            formControlName="gstn_number"
            placeholder="GSTIN"
            (change)="onGSTINValueChange($event)"
          />
          <div
            class="error"
            *ngIf="editPatientForm.controls.gstn_number.invalid"
          >
            GSTIN Invalid
          </div>
        </div>
        <div class="input-label">
          <label for="">Discount (%)</label>
          <input type="text" formControlName="discount_percentage" />
        </div>
      </div>
    </form>
  </div>
</div>
