ng-scrollbar {
    --scrollbar-thumb-color: rgba(4, 76, 156, 0.86);
    --scrollbar-track-color: transparent;
    --scrollbar-size: 8px;
    --scrollbar-border-radius: 4px;
}

.main {
    background-color: #dddddd;
    /* height: 100vh; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar button {
    border: none;
    color: white;
    background-color: #0ca1f6;
    padding: 10px;
    font-size: large;
}

.breadcrumbs {
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: larger;
}

.edit-button {
    display: flex;
    justify-content: end;
    align-items: end;
}

.bulb {
    color: rgba(12, 161, 246, 1);
}


.first-row {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.first-row label {
    color: rgba(4, 76, 157, .6);
}

.second-row {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.second-row label {
    color: rgba(4, 76, 157, .6);
}

.lisiting {
    margin: 20px;
    background-color: white;
    height: 100vh;
}

.mobile-verified {
    display: flex;
    gap: 10px;
}

.verified {
    color: #0ca1f6;
}