<div class="bottomsheet">
  <div class="header">
    <div class="title">
      <!-- <div class="title1">Edit Patient Details</div> -->
      <div class="title2">Edit Address</div>
    </div>
    <div class="buttons">
      <div *ngIf="newAddress" class="submit" (click)="onSubmit()">Add</div>
      <div
        *ngIf="!newAddress && profileVerified == 1"
        class="submit"
        (click)="otpSend ? onSubmit() : verfiyOtp()"
      >
        {{ otpSend ? "Update" : "Verify" }}
      </div>
      <div
        *ngIf="!newAddress && profileVerified !== 1"
        class="submit"
        (click)="onSubmit()"
      >
        Add
      </div>

      <!-- <div
        class="submit"
        *ngIf="profile"
        (click)="otpSend === false ? verfiyOtp() : onSubmit()"
      >
        {{ otpSend === false ? "Verify" : "Add" }}
      </div>
      <div *ngIf="!profile" class="submit" (click)="onSubmit()">Add</div> -->

      <div class="close" (click)="onClose()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="back_button" (click)="onBack()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
  </div>
  <div class="form back">
    <form action="" [formGroup]="editAddressForm">
      <div class="name" *ngIf="!newAddress">
        <div class="input-label">
          <label for="">First Name</label>
          <input
            type="text"
            formControlName="first_name"
            placeholder="First Name"
          />
        </div>
        <div class="input-label">
          <label for="">Last Name</label>
          <input
            type="text"
            formControlName="last_name"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="address-line">
        <div class="input-label input-label-address">
          <label for="">Address Line 1</label>
          <input
            type="text"
            formControlName="address"
            placeholder="Address Line 1"
            (change)="onAddressValueChange($event)"
          />
        </div>
      </div>
      <div class="address-line">
        <div class="input-label input-label-address">
          <label for="">Address Line 2</label>
          <input
            type="text"
            formControlName="address_line2"
            placeholder="Address Line 2"
          />
        </div>
      </div>
      <div class="city-pincode">
        <div class="city">
          <div class="input-label">
            <label for="">City</label>
            <input formControlName="city" placeholder="City" />
            <div
              class="error"
              *ngIf="submmited && editAddressForm.controls.city.errors?.['required']"
            >
              City Required
            </div>
          </div>
        </div>
        <div class="pincode">
          <div class="input-label">
            <label for="">Pincode</label>
            <input formControlName="zipcode" placeholder="Pincode" />
            <div
              class="error"
              *ngIf="submmited && editAddressForm.controls.zipcode.errors?.['required']"
            >
              Pincode Required
            </div>
          </div>
        </div>
      </div>
      <div class="locateOnMap">
        <div class="LocateMapButton">
          <i class="fa-solid fa-location-dot"></i>
          <div>Locate on map</div>
          <div>New</div>
        </div>
      </div>
      <div class="otp" *ngIf="otpSend">
        <div for="">Verification Code</div>
        <div class="input-label otp-label">
          <input formControlName="otp" placeholder="Verification Code" />
          <div class="resend"><i class="fas fa-redo" (click)="verfiyOtp()"></i>Resend</div>
        </div>
      </div>
      <div *ngIf="otpSend" class="Verify">
        Verification code send on mobile {{ data.patient.mobile }}
      </div>
    </form>
  </div>
</div>
