::ng-deep .mat-bottom-sheet-container {
    padding: 0px !important;
    max-height: 100vh !important;
    overflow-y: auto !important;
    border-radius: 0px;
    width: 50rem;
    background-color: white;
}

.header {
    padding: 5px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044C9D;
    font-weight: bold;
    color: #000000;
}

.back_button {
    padding: 10px;
    color: #0ca1f6;
    cursor: pointer;
}

.title {
    padding: 10px;
    margin: 0px;
    font-size: larger;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

.title1 {
    font-size: medium;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    color: #333;
}

.submit {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgba(12, 161, 246, 1);
    color: #fff;
    border: none;
    cursor: pointer;
}

.close {
    color: white;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.form {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.error {
    color: red;
    font-size: small;
}

.input-label {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: start;
    font-weight: 100;
    color: rgba(4, 76, 157, 1);
    font: 500;
    font-size: 14px;
    color: rgba(4, 76, 157, 1);
    font-weight: 500;
    padding-bottom: 10px;
}

.input-label input {
    display: flex;
    font-size: larger;
    width: 15rem;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 18px;
    border-bottom: 2px solid rgba(7, 35, 245, 0.27);
}

.input-label-address input {
    width: 98%;
    margin-top: 10px;
}

.city-pincode {
    display: flex;
    gap: 20px;

    padding-bottom: 10px;
}

.name {
    display: flex;
    gap: 20px;
}

.locateOnMap {
    min-width: 200px;
    max-width: 200px;
    background-color: #0ca1f6;
    color: white;
    height: auto;
    padding: 10px 10px;
    border-radius: 3px;
}

.LocateMapButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.Verify {
    color: #0ca1f6;
    font-weight: 500;
    font-size: 15px;
}

.otp-label {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-label input {
    width: 90%;
}

.otp-label i {
    margin-right: 5px;
}

.resend:hover {
    cursor: pointer;
}

.verified {
    color: #0ca1f6;
}