<div class="bottomsheet">
  <div class="header">
    <div class="title">
      <div class="title1">Verify Customer's Mobile with OTP &</div>
      <div class="title2">Become a Preferred Pharmacy!</div>
    </div>
    <div class="buttons">
      <div class="submit" (click)="onSubmit()">Add</div>
      <div class="close" (click)="onClose()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="form">
    <div class="error" *ngIf="addPatientForm.errors">Invalid Form</div>
    <form [formGroup]="addPatientForm">
      <div class="mobile-mail">
        <div class="input-label">
          <label for="">Mobile Number</label>
          <input
            formControlName="mobile"
            maxlength="10"
            placeholder="Mobile Number"
            (input)="onMobileInputChange($event)"
          />
          <div
            class="error"
            *ngIf="(submmited || verifyMobile) && addPatientForm.controls.mobile.errors?.['required']"
          >
            Mobile Number is Required
          </div>
          <div
            class="error"
            *ngIf="(submmited || verifyMobile) && addPatientForm.controls.mobile.errors?.['pattern']"
          >
            Mobile Number is invalid
          </div>
        </div>
        <div class="input-label">
          <span *ngIf="!verifyMobile">&nbsp;&nbsp;</span>
          <label for="" *ngIf="verifyMobile"
            >Verification Code
            <i class="fas fa-redo" (click)="onVerfyMobile()"></i
          ></label>
          <input
            formControlName="otp"
            placeholder="Verify Mobile"
            *ngIf="verifyMobile"
          />
          <div
            class="verify-mobile"
            *ngIf="!verifyMobile"
            (click)="onVerfyMobile()"
          >
            Verify Mobile <i class="fas fa-chevron-right"></i>
          </div>
          <div
            class="error"
            *ngIf="verifyMobile && this.addPatientForm.controls.mobile.invalid"
          ></div>
        </div>
        <div class="input-label email">
          <label for="">Email</label>
          <input
            type="email"
            formControlName="email"
            (change)="onEmailValueChange($event)"
            placeholder="Email Address"
          />
          <div class="error" *ngIf="addPatientForm.controls.email.errors">
            Email is Invalid
          </div>
        </div>
      </div>
      <div class="name-discount">
        <div class="input-label">
          <label for="">First Name</label>
          <input
            type="text"
            formControlName="first_name"
            placeholder="First Name"
            (keypress)="noSpecialChar($event)"
          />
          <div
            class="error"
            *ngIf="
              submmited && addPatientForm.get('first_name')?.hasError('pattern')
            "
          >
            Special character not allowed
          </div>
          <div
            class="error"
            *ngIf="
              submmited &&
              addPatientForm.get('first_name')?.hasError('required')
            "
          >
            Required
          </div>
        </div>
        <div class="input-label">
          <label for="">Last Name</label>
          <input
            type="text"
            formControlName="last_name"
            placeholder="Last Name"
          />
        </div>
        <div class="input-label">
          <label for="">Set Default Discount(%)</label>
          <input formControlName="discount_percentage" />
        </div>
      </div>
      <div class="dob-gender">
        <div class="input-label">
          <label for="">Date of Birth</label>
          <div class="date-picker">
            <input
              matInput
              [matDatepicker]="dob"
              formControlName="dob"
              (dateChange)="onDateOfBirth($event)"
              [max]="today"
              placeholder="Ex. 03/06/2002"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dob"
            ></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </div>
        </div>
        <div class="input-label">
          <label for="">&nbsp;</label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="address-Link" (click)="addAddressExtention()">
        + Add Address
      </div>

      <div class="address" *ngIf="addAddress">
        <div class="address-line">
          <div class="input-label input-label-address">
            <label for="">Address</label>
            <input
              type="text"
              formControlName="address"
              placeholder="Address line 1"
            />
            <input
              type="text"
              formControlName="address_line2"
              placeholder="Address line 2"
            />
          </div>
        </div>
        <div class="city-pincode">
          <div class="city">
            <div class="input-label">
              <label for="">City</label>
              <input formControlName="city" placeholder="Enter a location" />
              <div
                class="error"
                *ngIf="submmited && addPatientForm.controls.city.errors?.['required']"
              >
                City Required
              </div>
            </div>
          </div>
          <div class="pincode">
            <div class="input-label">
              <label for="">Pincode</label>
              <input formControlName="zipcode" placeholder="Pincode" />
              <div
                class="error"
                *ngIf="submmited && addPatientForm.controls.zipcode.errors?.['required']"
              >
                Pincode Required
              </div>
              <div
                class="error"
                *ngIf="submmited && addPatientForm.controls.zipcode.errors?.['pattern']"
              >
                Pincode Pattern
              </div>
            </div>
          </div>
        </div>
        <div class="gst-pan">
          <div class="input-label">
            <label for="">GSTIN / PAN</label>
            <input
              formControlName="gstn_number"
              placeholder="GSTIN / PAN Number"
              (change)="onGSTINValueChange($event)"
            />
            <div
              class="error"
              *ngIf="submmited && addPatientForm.controls.gstn_number.errors?.['pattern']"
            >
              GSTIN Pattern
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
